<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SAP Stand</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/bootstrap.min.css" />

        <link rel="stylesheet" type="text/css" href="https://sdk.openui5.org/resources/sap/ui/core/themes/base/SAP-icons.css" >

        <script src="/js/fontawesome.js" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <div id="standard">
                <div id="logoAndDropdown">
                    <!-- logo -->
                    <img id="logo" src="img/SAP_R_grad_scrn (1).svg" alt="SAP"/>
                    <!-- dropdown menu -->
                    <div>
                        <button class="btn btn-secondary dropdown-toggle" id="dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> 
                            Students@VT
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>Students@VT</li>
                            <li><a href="./studiengaenge">Studiengänge</a></li>
                            <li><a href="./procurement">Procurement</a></li>
                            <li class="my_apps" onclick="">All My Apps</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <!-- searchbar -->
                    <div class="search">
                        <input id="searchbar" onkeyup="searchApp()" type="text" placeholder="Search In: &quot;VT@SAP&quot;"></input>
                    </div>
                </div>
                <script>
                    function searchApp() {
                        let input = document.getElementById('searchbar').value;
                        input = input.toLowerCase();

                        let x = document.getElementsByClassName('app');

                        for (i = 0; i < x.length; i++) { 
                            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                                x[i].style.display="none";
                            } else {
                                x[i].style.display="flex";                 
                            }
                        }

                        if (input.length == 0) {
                            back();
                        }
                    }
                </script>
                <div class="profile-picture">
                    <!-- rocket -->
                <img id="profileimg" src="/img/282556_Rocket_R_green.png" alt="Rocket" />
                </div>
            </div>
            <div id="navigation">
                <nav id="app-menu">
                    <ul>
                        <li id="selected">
                            <a href="#" id="selectedItem">Students@VT</a>
                        </li>
                        <li>
                            <a href="#" class="headeritem">Productivity Tools</a>
                        </li>
                        <li>
                            <a href="#" class="headeritem">Human Ressources</a>
                        </li>
                        <li>
                            <a href="#" class="headeritem">Sales & Presales</a>
                        </li>
                        <li>
                            <a href="#" class="headeritem">Customer Success</a>
                        </li>
                        <li>
                            <a href="#" class="headeritem">Finance & Administration</a>
                        </li>
                        <li>
                            <a href="#" class="headeritem">Product & Innovation</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <section class="students" id="aktiv">
                <h1 class="ueberschrift">Students@SAP</h1>
                <a class="app" href="./studiengaenge">
                    <div class="label">Studiengänge</div>
                    <div class="sub-label">Unser Studienangebot</div>
                    <div class="studyLeave"></div>
                </a>
            </section>
            <section class="productivity" id="aktiv">
                <h1 class="ueberschrift">Productivity Tools</h1>
                <a href="./procurement">
                    <div class="app" >
                        <div class="label">Procurement</div>
                        <div class="sub-label">Lege einen Einkauf an</div>
                        <div class="cart"></div>
                    </div>
                </a>
                <div class="app" id="inaktiv">
                    <div class="label">VT Dashboard</div>
                    <div class="sub-label-inaktiv">Verwalte dein Studium</div>
                    <div class="studyLeave"></div>
                </div>
                <div class="app" id="inaktiv">
                    <div class="label">Transportation</div>
                    <div class="sub-label-inaktiv">Lege einen Transportauftrag an</div>
                    <div class="truck"></div>
                </div>
                <div class="app" id="inaktiv">
                    <div class="label">Corporate Search</div>
                    <div class="sub-label-inaktiv">Entdecke SAP</div>
                    <div class="coporateSearch"></div>
                </div>
                <div class="app" id="inaktiv">
                    <div class="label">SAP One</div>
                    <div class="sub-label-inaktiv">Inhalt & Services</div>
                    <div class="sapLogo"></div>
                </div>
            </section>
        </main>
    </body>
    <style>
        html, main {
    background-color: #E0E3E4;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
}

/* styles for header */
header {
    background-color: #354A5F;
    padding-bottom: 0.001em;
}

/* 1. section of the header */
#standard {
    display: flex;
    justify-content: space-between;
    padding-top: 1.0rem;
    margin-bottom: -0.75rem;
}

/* logo and dropdown */
#logoAndDropdown {
    display: flex;
    justify-content: flex-start;
}

#logo {
    max-height:55%;
    vertical-align: middle;
    padding-right: 0.75rem;
    padding-bottom: 0px;
    padding-left: 1.75rem;
 }

#dropdown {
    background-color: transparent; /* Hintergrundfarbe auf transparent setzen */
    border: none; /* Umrandung entfernen */
    font-weight: bold;
    font-size: larger;
    margin-top: 0.4rem;
}

.dropdown-menu {
    border: 1px solid #8C8F91;
    padding: 0!important;
    border-radius: 4px!important;
}

.dropdown-menu li {
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 10rem;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu li:hover {
    background-color: #f7f7f7;
}

.my_apps {
    text-align: center;
    color: #C2DBF3;
    padding-right: 0.75rem!important;
}

/* searchbar */
.search input {
    background-color: transparent; /* Hintergrundfarbe auf Transparenz setzen */
    color: white; /* Eingabeschriftfarbe auf Weiß setzen */
    border: 0.5px solid #B6E0FC; /* Umrandungsfarbe setzen */
    caret-color: #B6E0FC; /* Farbe des Cursor-Symbols */
    border-radius: 3%;
    width: 40vw;
    padding: 0.5rem;
  }
  
.search input::placeholder {
    color: #B6E0FC; /* Farbe des Placeholder-Texts */
    font-style: italic; /* Placeholder-Text kursiv setzen */
}

.searchButton::before { 
    font-family: SAP-icons; 
    font-size: 110%;
    content: "\e00d"; 
}
  
.search button {
    background-color: transparent; /* Hintergrundfarbe auf Transparenz setzen */
    border: none;
    color: #B6E0FC; /* Farbe der Lupe */
    margin-left: 0.25rem;
}

/* rocket */
.profile-picture {
    width: 2.75rem;
    height: 2.75rem;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white; /* Farbe der Umrandung anpassen */
    vertical-align: middle;
    margin-right: 1.75rem;
}

#profileimg {
    height: 100%;
}

/* navigation */
nav {
    color: white;
}

header nav ul {
    list-style: none;
    padding: 5;
    margin: 0;

    display: flex;
    column-gap: 2em;
}

/* colours for links */
a, a:visited {
    color: white;
    text-decoration: none!important;
    border-bottom: 3px solid transparent;
}

a:hover{
    color: #B6E0FC;
    text-decoration: none;
}

.headeritem{
    color: #FFFFFF;
}

#selected {
    padding-bottom: 1rem;
    border-bottom: 2.5px solid #B6E0FC;
}

#selectedItem {
    color: #B6E0FC;
}


/* styles for main */
main {
    padding-bottom: 1.75rem;
}

/* headings */
.ueberschrift {
    margin-left: 2em;
    padding-top: 1.5rem;
    margin-bottom: -1.0em;
    font-size: 1.125rem;
    font-weight: normal;
    text-shadow: 0 0 0.125rem #fff;
}
  
/* tiles */
.app {
    position: relative;

    background-color: white;
    border: 1px solid #c2c2c2;
    z-index: 10;
    border-radius: 4px;

    display: inline-block;
    box-sizing: border-box;
    width: 9em;
    height: 9em;
    margin-top: 1.75em;
    margin-left: 1.75em;
    margin-right: -1.56em;
    
    font-size: 110%;

    cursor: pointer;
}

.app:hover {
    border: 1px solid #89919a;
    background-color: #f7f7f7;
}

.app a {
    color: #606060 !important;
    text-decoration: none !important;
}

.app .label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    
    z-index: 4;
    color: #32363a;
}

#aktiv {
    color: #32363a;
}

.app .sub-label {
    position: absolute;
    top: 2.0rem;
    left: 0.5rem;

    font-size: small;
    color: #6a6d70;
}

.sub-label-inaktiv {
    position: absolute;
    top: 2.0rem;
    left: 0.5rem;

    font-size: small;
    color:rgb(204, 197, 197);
}

#inaktiv {
    background-color: #F3F4F4;
    color:rgb(204, 197, 197);
}

/* icons für tiles */
.app .studyLeave::before { 
    font-family: SAP-icons; 
    font-size: 200%;
    content: "\e0fc"; 

    position: absolute;
    bottom: 1.5rem;
    left: 1.0rem;

    color: #32363a;
} 

.app .cart::before { 
    font-family: SAP-icons; 
    font-size: 200%;
    content: "\e043"; 

    position: absolute;
    bottom: 1.5rem;
    left: 1.0rem;

    color:#32363a;
} 

.app .truck::before{
    font-family: SAP-icons; 
    font-size: 200%;
    content: "\e0b3"; 

    position: absolute;
    bottom: 1.5rem;
    left: 1.0rem;
}

.app .coporateSearch::before{
    font-family: SAP-icons; 
    font-size: 200%;
    content: "\e0db"; 

    position: absolute;
    bottom: 1.5rem;
    left: 1.0rem;
}

.app .sapLogo::before{
    font-family: SAP-icons; 
    font-size: 200%;
    content: "\e1bb"; 

    position: absolute;
    bottom: 1.5rem;
    left: 1.0rem;
}

    </style>
</html>
