<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SAP Stand</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/styles/studiengaenge.css" />
        <link rel="stylesheet" href="/styles/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://sdk.openui5.org/resources/sap/ui/core/themes/base/SAP-icons.css" >
        
        <script src="/js/fontawesome.js" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script>

function back() {
    window.location.href = "./";
}

function onProcurement() {
    window.location.href = "./procurement.html";
}

function expandItem(index) {
    var details = document.getElementById("rightPanel");
    details.style.display = "flex";

    if (document.getElementById("detail-content-" + index).classList.contains("expand")) {
        closeDetails();
    } else {
        var detailContents = document.getElementsByClassName("detail-content");

        for (var i = 0; i < detailContents.length; i++) {
            detailContents[i].classList.remove("expand");
        }

        var detailContent = document.getElementById("detail-content-" + index);
        detailContent.classList.add("expand");
    }
}

function closeDetails() {
    var details = document.getElementById("rightPanel");
    details.style.display = "none";

    var detailContents = document.getElementsByClassName("detail-content");

    for (var i = 0; i < detailContents.length; i++) {
        detailContents[i].classList.remove("expand");
    }
}


        </script>
        <style>
            html, main {
    background-color: #E0E3E4;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
}

/* styles for header */
header {
    background-color: #354A5F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    margin-bottom: -2.75rem;
}

/* back, logo and dropdown */
.back::before {
    font-family: SAP-icons;
    font-size: 110%;
    content: "\e1eb";
}

.back {
    background-color: transparent;
    border: none;
    color: #B6E0FC;
    padding-left: 1.75rem;
    height: 3rem;
}

#logoAndDropdown {
    display: flex;
    justify-content: flex-start;
}

#logo {
    padding-top: 0.5rem;
    max-height:45%;
    vertical-align: middle;
    padding-right: 0.75rem;
    padding-left: 1.75rem;
}

#dropdown {
    background-color: transparent; /* Hintergrundfarbe auf transparent setzen */
    border: none; /* Umrandung entfernen */
    font-weight: bold;
    font-size: larger;
    margin-top: 0.4rem;
}

.dropdown-menu {
    border: 1px solid #8C8F91;
    padding: 0!important;
    border-radius: 4px!important;
}

.dropdown-menu li {
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 10rem;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu li:hover {
    background-color: #f7f7f7;
}

.my_apps {
    text-align: center;
    color: #C2DBF3;
    padding-right: 0.75rem!important;
}

/* searchbar */
.search input {
    background-color: transparent; /* Hintergrundfarbe auf Transparenz setzen */
    color: white; /* Eingabeschriftfarbe auf Weiß setzen */
    border: 0.5px solid #B6E0FC; /* Umrandungsfarbe setzen */
    caret-color: #B6E0FC; /* Farbe des Cursor-Symbols */
    border-radius: 3%;
    width: 40vw;
    padding: 0.5rem;
  }
  
.search input::placeholder {
    color: #B6E0FC; /* Farbe des Placeholder-Texts */
    font-style: italic; /* Placeholder-Text kursiv setzen */
}

.searchButton::before {
    font-family: SAP-icons;
    font-size: 110%;
    content: "\e00d";
}

.search button {
    background-color: transparent;
    border: none;
    color: #B6E0FC;
    margin-left: 0.25rem;
}

/* rocket */
.profile-picture {
    width: 2.75rem;
    height: 2.75rem;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white; /* Farbe der Umrandung anpassen */
    vertical-align: middle;
    margin-right: 1.75rem;
}

#profileimg {
    height: 100%;
}

/* styles for main */
main {
    display: flex;
}

.headline {
    padding-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: x-large;
}

/*FIORI Accordion */
.expandIcon::before {
    font-family: SAP-icons;
    font-size: 100%;
    font-weight: lighter;
    content: "\e066";
}

.expandIcon {
    padding-right: 0.75rem;
}

.leftPanel {
    flex: 1;
    flex-grow: 2;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    padding: 0!important;
}

.list {
    width: auto;
    background-color: white;
    border: 1px solid #8C8F91;
    border-radius: 1px;
}

.list-item:hover {
    background-color: #C2DBF3;
}

.list-item {
    cursor: pointer;
    list-style: none;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: large;
}

#list {
    margin: 0;
    padding: 0;
}

.list-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.rightPanel {
    flex: 1;
    flex-grow: 3;
    padding: 1px;
    padding-left: 0px!important;
    overflow-y: auto;
    display: none;
}

#border {
    height: inherit;
    width: 2rem;
    border-radius: 75px;
    background-color: #9A9D9E;
}

.detail-content {
    display: none;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.expand {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    justify-content: flex-end!important;
}

.close-button {
    background-color: transparent; /* Hintergrundfarbe auf Transparenz setzen */
    border: none;
    width: fit-content;
}

.close-button::before {
    font-family: SAP-icons;
    font-size: 100%;
    content: "\e03e";  
}


#purchase ul { 
    list-style-type: none; 
} 

#purchase ul li::before { 
    font-family: SAP-icons; 
    font-size: 60%; 
    content: "\e1bb"; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
    color: #0A6ED1;
}

/* Design of Detail-Body */
.details {
    background-color: #E0E3E4;
    width: 500%;
}

.detail-content {
    background-color: #E0E3E4;
    width: 500%;
}

.detail-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.75rem;
}

#productName {
    font-size: x-large;
}

#subInfo {
    font-size: larger;
    color:#8C8F91;
}

#sectionName {
    font-size: larger;
    color:#8C8F91;
}

#informationContainer, #purchase, #qrcode {
    background-color: white;
    overflow: visible;
    border-radius: 5px;
    padding: 1rem;
}

#informationContainer, #purchase {
    border-bottom: 1px solid #ccc;
}

#qrcode {
    margin-bottom: 1.75rem;
}

p {
    margin-bottom: 0!important;
}

#productimg {
    max-height: 100px;
}

.advertisement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.75rem;
}

#qr {
    max-height: 200px;
    margin-right: 2rem;
}

        </style>
    </head>
    <body>
        <header style="margin-bottom: 0rem;">
            <div id="logoAndDropdown">
                <!-- logo -->
                <img id="logo" src="img/SAP_R_grad_scrn (1).svg" style="max-height: 70%;" alt="SAP" onclick="back()"/>
                <!-- dropdown menu -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" id="dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Studiengänge
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a href="./"></a>Students@VT</li>
                        <li><a href="./procurement"></a>Procurement</li>
                        <li class="my_apps" onclick="">All My Apps</li>
                    </ul>
                </div>
            </div>
            <div>
                <!-- searchbar -->
                <div class="search">
                    <input id="searchbar" onkeyup="searchApp()" type="text" placeholder="Search In: VT@SAP"></input>
                </div>
            </div>
            <div class="profile-picture">
                <!-- rocket -->
                <img id="profileimg" src="img/282556_Rocket_R_green.png" alt="Rocket" />
            </div>
        </header>

        <main>
            <div class="leftPanel">
                <h1 class="headline">Duales Studium bei der SAP</h1>
                <div class="list">
                    <ul id="list">
                        <li class="list-item" onclick="expandItem(1)">
                            Wirtschaftsinformatik
                        </li>
                        <li class="list-item" onclick="expandItem(2)">
                            Informatik
                        </li>
                        <li class="list-item" onclick="expandItem(3)">
                            IT-Sicherheit
                        </li>
                        <li class="list-item" onclick="expandItem(4)">
                            Data Science und Künstliche Intelligenz
                        </li>
                        <li class="list-item" onclick="expandItem(5)">
                            Internationale Wirtschaftsinformatik
                        </li>
                        <li class="list-item" onclick="expandItem(6)">
                            Digitale Medien
                        </li>
                        <li class="list-item" onclick="expandItem(7)">
                            BWL - Digital Business Management
                        </li>
                    </ul>
                </div>
                <h1 class="headline">Ausbildung bei der SAP</h1>
                <div class="list">
                    <ul id="list">
                        <li class="list-item" onclick="expandItem(8)">
                            Fachinformatiker*in für Anwendungsentwicklung
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rightPanel" id="rightPanel">
                <div id="border"></div>
                <div class="detail-content" id="detail-content-1">
                    <div class="button">
                        <button onclick="closeDetails()">X</button>
                    </div>
                    <div class="detail-heading">
                        <div class="bezeichnung">
                            <h3 id="productName">Wirtschaftsinformatik (B. Sc.)</h3>
                            <h1 id="subInfo">Bachelor of Science</h1>
                        </div>
                        <img id="productimg" src="img/WI.png" alt="Gummibärchen" />
                    </div>
                    <div id="informationContainer">
                        <h1 id="sectionName">Dein Studium</h1>
                        <p>Erhalte Einblicke in Themen wie Digitale Transformation, Internet
                            of Things, Machine sowie Deep Learning und lernen die Informatik
                            und Grundlagen der Betriebswirtschaftslehre kennen.</p>
                    </div>
                    <div id="purchase">
                        <h1 id="sectionName">Das bieten wir Dir</h1>
                        <ul>
                            <li>
                                Flexible Arbeitszeiten
                            </li>
                            <li>
                                Umzugspauschale & Mobilitätszuschuss
                            </li>
                            <li>
                                Sportmöglichkeiten auf dem SAP Gelände
                            </li>
                            <li>
                                30 Tage Urlaub
                            </li>
                            <li>
                                Laptop & Büromaterial
                            </li>
                            <li>
                                Mittagessen & Getränke
                            </li>
                        </ul>
                    </div>
                    <div id="qrcode">
                        <h1 id="sectionName">Interesse geweckt?</h1>
                        <div class="advertisement">
                            <img id="qr" src="img/QR.png" alt="QR-Code" />
                            
                            <p><center>
                                Du möchtest zum Traumberuf durchstarten? Lass dich von unserer Website inspirieren und entdecke die spannende Welt der beruflichen Möglichkeiten bei SAP.
                                <br><br>
                                Bring everything you are – become everything you want!
                            </center></p>
                        </div>
                    </div>
                </div>
                <div class="detail-content" id="detail-content-2">
                    <div class="button">
                        <button onclick="closeDetails()">X</button>
                    </div>
                    <div class="detail-heading">
                        <div class="bezeichnung">
                            <h3 id="productName">Informatik (B. Sc.)</h3>
                            <h1 id="subInfo">Bachelor of Science</h1>
                        </div>
                        <img id="productimg" src="img/AI.png" alt="Gummibärchen" />
                    </div>
                    <div id="informationContainer">
                        <h1 id="sectionName">Dein Studium</h1>
                        <p>Erhalte spannende Einblicke in Themen wie Netzwerktechnik,
                            Datenbanken sowie Betriebssysteme und lerne Programmiersprachen,
                            Internet of Things sowie Machine und Deep Learning
                            kennen.</p>
                    </div>
                    <div id="purchase">
                        <h1 id="sectionName">Das bieten wir Dir</h1>
                        <ul>
                            <li>
                                Flexible Arbeitszeiten
                            </li>
                            <li>
                                Umzugspauschale & Mobilitätszuschuss
                            </li>
                            <li>
                                Sportmöglichkeiten auf dem SAP Gelände
                            </li>
                            <li>
                                30 Tage Urlaub
                            </li>
                            <li>
                                Laptop & Büromaterial
                            </li>
                            <li>
                                Mittagessen & Getränke
                            </li>
                        </ul>
                    </div>
                    <div id="qrcode">
                        <h1 id="sectionName">Interesse geweckt?</h1>
                        <div class="advertisement">
                            <img id="qr" src="img/QR.png" alt="QR-Code" />
                            
                            <p><center>
                                Du möchtest zum Traumberuf durchstarten? Lass dich von unserer Website inspirieren und entdecke die spannende Welt der beruflichen Möglichkeiten bei SAP.
                                <br><br>
                                Bring everything you are – become everything you want!
                            </center></p>
                        </div>
                    </div>
                </div>
                <div class="detail-content" id="detail-content-3">
                    <div class="button">
                        <button onclick="closeDetails()">X</button>
                    </div>
                    <div class="detail-heading">
                        <div class="bezeichnung">
                            <h3 id="productName">IT-Sicherheit (B. Sc.)</h3>
                            <h1 id="subInfo">Bachelor of Science</h1>
                        </div>
                        <img id="productimg" src="img/KITS.png" alt="Gummibärchen" />
                    </div>
                    <div id="informationContainer">
                        <h1 id="sectionName">Dein Studium</h1>
                        <p>Erhalte spannende Einblicke in Themen wie IT-Sicherheit, -Recht,
                            -Compliance sowie Kryptologie und Netzwerksicherheit.
                            Des Weiteren lernst Du Programmierung und den Bereich der
                            theoretischen Informatik kennen.</p>
                    </div>
                    <div id="purchase">
                        <h1 id="sectionName">Das bieten wir Dir</h1>
                        <ul>
                            <li>
                                Flexible Arbeitszeiten
                            </li>
                            <li>
                                Umzugspauschale & Mobilitätszuschuss
                            </li>
                            <li>
                                Sportmöglichkeiten auf dem SAP Gelände
                            </li>
                            <li>
                                30 Tage Urlaub
                            </li>
                            <li>
                                Laptop & Büromaterial
                            </li>
                            <li>
                                Mittagessen & Getränke
                            </li>
                        </ul>
                    </div>
                    <div id="qrcode">
                        <h1 id="sectionName">Interesse geweckt?</h1>
                        <div class="advertisement">
                            <img id="qr" src="img/QR.png" alt="QR-Code" />
                            
                            <p><center>
                                Du möchtest zum Traumberuf durchstarten? Lass dich von unserer Website inspirieren und entdecke die spannende Welt der beruflichen Möglichkeiten bei SAP.
                                <br><br>
                                Bring everything you are – become everything you want!
                            </center></p>
                        </div>
                    </div>
                </div>
                <div class="detail-content" id="detail-content-4">
                    <div class="button">
                        <button onclick="closeDetails()">X</button>
                    </div>
                    <div class="detail-heading">
                        <div class="bezeichnung">
                            <h3 id="productName">Data Science und KI (B. Sc.)</h3>
                            <h1 id="subInfo">Bachelor of Science</h1>
                        </div>
                        <img id="productimg" src="img/DS.png" alt="Gummibärchen" />
                    </div>
                    <div id="informationContainer">
                        <h1 id="sectionName">Dein Studium</h1>
                        <p>Erhalte spannende Einblicke in Themen wie Informatik, Datenanalyse
                            und Künstliche Intelligenz, Projektmanagement sowie
                            Machine Learning und Big Data. Darüber hinaus lernst Du diverse
                            Aspekte der Betriebswirtschaftslehre kennen.</p>
                    </div>
                    <div id="purchase">
                        <h1 id="sectionName">Das bieten wir Dir</h1>
                        <ul>
                            <li>
                                Flexible Arbeitszeiten
                            </li>
                            <li>
                                Umzugspauschale & Mobilitätszuschuss
                            </li>
                            <li>
                                Sportmöglichkeiten auf dem SAP Gelände
                            </li>
                            <li>
                                30 Tage Urlaub
                            </li>
                            <li>
                                Laptop & Büromaterial
                            </li>
                            <li>
                                Mittagessen & Getränke
                            </li>
                        </ul>
                    </div>
                    <div id="qrcode">
                        <h1 id="sectionName">Interesse geweckt?</h1>
                        <div class="advertisement">
                            <img id="qr" src="img/QR.png" alt="QR-Code" />
                            
                            <p><center>
                                Du möchtest zum Traumberuf durchstarten? Lass dich von unserer Website inspirieren und entdecke die spannende Welt der beruflichen Möglichkeiten bei SAP.
                                <br><br>
                                Bring everything you are – become everything you want!
                            </center></p>
                        </div>
                    </div>
                </div>
                <div class="detail-content" id="detail-content-5">
                    <div class="button">
                        <button onclick="closeDetails()">X</button>
                    </div>
                    <div class="detail-heading">
                        <div class="bezeichnung">
                            <h3 id="productName">Internationale Wirtschaftsinformatik (B. Sc.)</h3>
                            <h1 id="subInfo">Bachelor of Science</h1>
                        </div>
                        <img id="productimg" src="img/IBAIT.png" alt="Gummibärchen" />
                    </div>
                    <div id="informationContainer">
                        <h1 id="sectionName">Dein Studium</h1>
                        <p>Erhalte spannende Einblicke in Themen wie Softwareentwicklung,
                            IT-Security, Systemanalyse sowie Systementwurf und lerne die
                            Grundlagen der IT und Betriebswirtschaftslehre kennen.</p>
                    </div>
                    <div id="purchase">
                        <h1 id="sectionName">Das bieten wir Dir</h1>
                        <ul>
                            <li>
                                Flexible Arbeitszeiten
                            </li>
                            <li>
                                Umzugspauschale & Mobilitätszuschuss
                            </li>
                            <li>
                                Sportmöglichkeiten auf dem SAP Gelände
                            </li>
                            <li>
                                30 Tage Urlaub
                            </li>
                            <li>
                                Laptop & Büromaterial
                            </li>
                            <li>
                                Mittagessen & Getränke
                            </li>
                        </ul>
                    </div>
                    <div id="qrcode">
                        <h1 id="sectionName">Interesse geweckt?</h1>
                        <div class="advertisement">
                            <img id="qr" src="img/QR.png" alt="QR-Code" />
                            
                            <p><center>
                                Du möchtest zum Traumberuf durchstarten? Lass dich von unserer Website inspirieren und entdecke die spannende Welt der beruflichen Möglichkeiten bei SAP.
                                <br><br>
                                Bring everything you are – become everything you want!
                            </center></p>
                        </div>
                    </div>
                </div>
                <div class="detail-content" id="detail-content-6">
                    <div class="button">
                        <button onclick="closeDetails()">X</button>
                    </div>
                    <div class="detail-heading">
                        <div class="bezeichnung">
                            <h3 id="productName">Digitale Medien (B. A.)</h3>
                            <h1 id="subInfo">Bachelor of Arts</h1>
                        </div>
                        <img id="productimg" src="img/DM.png" alt="Gummibärchen" />
                    </div>
                    <div id="informationContainer">
                        <h1 id="sectionName">Dein Studium</h1>
                        <p>Erhalte spannende Einblicke in die Themen User Experience, User
                            Research, Marketing, Interaction sowies Visual Design.
                            Daneben lernst Du Grundlagen der Informatik sowie Betriebs- und
                            Volkswirtschaftslehre kennen.</p>
                    </div>
                    <div id="purchase">
                        <h1 id="sectionName">Das bieten wir Dir</h1>
                        <ul>
                            <li>
                                Flexible Arbeitszeiten
                            </li>
                            <li>
                                Umzugspauschale & Mobilitätszuschuss
                            </li>
                            <li>
                                Sportmöglichkeiten auf dem SAP Gelände
                            </li>
                            <li>
                                30 Tage Urlaub
                            </li>
                            <li>
                                Laptop & Büromaterial
                            </li>
                            <li>
                                Mittagessen & Getränke
                            </li>
                        </ul>
                    </div>
                    <div id="qrcode">
                        <h1 id="sectionName">Interesse geweckt?</h1>
                        <div class="advertisement">
                            <img id="qr" src="img/QR.png" alt="QR-Code" />
                            
                            <p><center>
                                Du möchtest zum Traumberuf durchstarten? Lass dich von unserer Website inspirieren und entdecke die spannende Welt der beruflichen Möglichkeiten bei SAP.
                                <br><br>
                                Bring everything you are – become everything you want!
                            </center></p>
                        </div>
                    </div>
                </div>
                <div class="detail-content" id="detail-content-7">
                    <div class="button">
                        <button onclick="closeDetails()">X</button>
                    </div>
                    <div class="detail-heading">
                        <div class="bezeichnung">
                            <h3 id="productName">BWL - Digital Business Management (B. A.)</h3>
                            <h1 id="subInfo">Bachelor of Arts</h1>
                        </div>
                        <img id="productimg" src="img/BWL.png" alt="Gummibärchen" />
                    </div>
                    <div id="informationContainer">
                        <h1 id="sectionName">Dein Studium</h1>
                        <p>Lerne die Betriebs- und Volkswirtschaftslehre kennen und erhalte
                            spannende Einblicke in Themen wie Digitalisierung, Industrielles
                            Management und Digitale Transformation.</p>
                    </div>
                    <div id="purchase">
                        <h1 id="sectionName">Das bieten wir Dir</h1>
                        <ul>
                            <li>
                                Flexible Arbeitszeiten
                            </li>
                            <li>
                                Umzugspauschale & Mobilitätszuschuss
                            </li>
                            <li>
                                Sportmöglichkeiten auf dem SAP Gelände
                            </li>
                            <li>
                                30 Tage Urlaub
                            </li>
                            <li>
                                Laptop & Büromaterial
                            </li>
                            <li>
                                Mittagessen & Getränke
                            </li>
                        </ul>
                    </div>
                    <div id="qrcode">
                        <h1 id="sectionName">Interesse geweckt?</h1>
                        <div class="advertisement">
                            <img id="qr" src="img/QR.png" alt="QR-Code" />
                            <p><center>
                                Du möchtest zum Traumberuf durchstarten? Lass dich von unserer Website inspirieren und entdecke die spannende Welt der beruflichen Möglichkeiten bei SAP.
                                <br><br>
                                Bring everything you are – become everything you want!
                            </center></p>
                        </div>
                    </div>
                </div>
                <div class="detail-content" id="detail-content-8">
                    <div class="button">
                        <button onclick="closeDetails()">X</button>
                    </div>
                    <div class="detail-heading">
                        <div class="bezeichnung">
                            <h3 id="productName">Fachinformatik</h3>
                            <h1 id="subInfo">IHK Ausbildung</h1>
                        </div>
                        <img id="productimg" src="img/FI.png" alt="Gummibärchen" />
                    </div>
                    <div id="informationContainer">
                        <h1 id="sectionName">Deine Ausbildung</h1>
                        <p>Erhalte spannende Einblicke in Themen wie Predictive Analytics,
                            Internet of Things, Digitalisierung, Cloud, Virtual Reality sowie
                            Machine und Deep Learning.</p>
                    </div>
                    <div id="purchase">
                        <h1 id="sectionName">Das bieten wir Dir</h1>
                        <ul>
                            <li>
                                Flexible Arbeitszeiten
                            </li>
                            <li>
                                Umzugspauschale & Mobilitätszuschuss
                            </li>
                            <li>
                                Sportmöglichkeiten auf dem SAP Gelände
                            </li>
                            <li>
                                30 Tage Urlaub
                            </li>
                            <li>
                                Laptop & Büromaterial
                            </li>
                            <li>
                                Mittagessen & Getränke
                            </li>
                        </ul>
                    </div>
                    <div id="qrcode">
                        <h1 id="sectionName">Interesse geweckt?</h1>
                        <div class="advertisement">
                            <img id="qr" src="img/QR.png" alt="QR-Code" />
                            
                            <p><center>
                                Du möchtest zum Traumberuf durchstarten? Lass dich von unserer Website inspirieren und entdecke die spannende Welt der beruflichen Möglichkeiten bei SAP.
                                <br><br>
                                Bring everything you are – become everything you want!
                            </center></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <style>
        html, main {
    background-color: #E0E3E4;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
}

/* styles for header */
header {
    background-color: #354A5F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    margin-bottom: -2.75rem;
}

/* back, logo and dropdown */
.back::before {
    font-family: SAP-icons;
    font-size: 110%;
    content: "\e1eb";
}

.back {
    background-color: transparent;
    border: none;
    color: #B6E0FC;
    padding-left: 1.75rem;
    height: 3rem;
}

#logoAndDropdown {
    display: flex;
    justify-content: flex-start;
}

#logo {
    padding-top: 0.5rem;
    max-height:45%;
    vertical-align: middle;
    padding-right: 0.75rem;
    padding-left: 1.75rem;
}

#dropdown {
    background-color: transparent; /* Hintergrundfarbe auf transparent setzen */
    border: none; /* Umrandung entfernen */
    font-weight: bold;
    font-size: larger;
    margin-top: 0.4rem;
}

.dropdown-menu {
    border: 1px solid #8C8F91;
    padding: 0!important;
    border-radius: 4px!important;
}

.dropdown-menu li {
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 10rem;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu li:hover {
    background-color: #f7f7f7;
}

.my_apps {
    text-align: center;
    color: #C2DBF3;
    padding-right: 0.75rem!important;
}

/* searchbar */
.search input {
    background-color: transparent; /* Hintergrundfarbe auf Transparenz setzen */
    color: white; /* Eingabeschriftfarbe auf Weiß setzen */
    border: 0.5px solid #B6E0FC; /* Umrandungsfarbe setzen */
    caret-color: #B6E0FC; /* Farbe des Cursor-Symbols */
    border-radius: 3%;
    width: 40vw;
    padding: 0.5rem;
  }
  
.search input::placeholder {
    color: #B6E0FC; /* Farbe des Placeholder-Texts */
    font-style: italic; /* Placeholder-Text kursiv setzen */
}

.searchButton::before {
    font-family: SAP-icons;
    font-size: 110%;
    content: "\e00d";
}

.search button {
    background-color: transparent;
    border: none;
    color: #B6E0FC;
    margin-left: 0.25rem;
}

/* rocket */
.profile-picture {
    width: 2.75rem;
    height: 2.75rem;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white; /* Farbe der Umrandung anpassen */
    vertical-align: middle;
    margin-right: 1.75rem;
}

#profileimg {
    height: 100%;
}

/* styles for main */
main {
    display: flex;
}

.headline {
    padding-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: x-large;
}

/*FIORI Accordion */
.expandIcon::before {
    font-family: SAP-icons;
    font-size: 100%;
    font-weight: lighter;
    content: "\e066";
}

.expandIcon {
    padding-right: 0.75rem;
}

.leftPanel {
    flex: 1;
    flex-grow: 2;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    padding: 0!important;
}

.list {
    width: auto;
    background-color: white;
    border: 1px solid #8C8F91;
    border-radius: 1px;
}

.list-item:hover {
    background-color: #C2DBF3;
}

.list-item {
    cursor: pointer;
    list-style: none;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: large;
}

#list {
    margin: 0;
    padding: 0;
}

.list-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.rightPanel {
    flex: 1;
    flex-grow: 3;
    padding: 1px;
    padding-left: 0px!important;
    overflow-y: auto;
    display: none;
}

#border {
    height: inherit;
    width: 2rem;
    border-radius: 75px;
    background-color: #9A9D9E;
}

.detail-content {
    display: none;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.expand {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    justify-content: flex-end!important;
}

.close-button {
    background-color: transparent; /* Hintergrundfarbe auf Transparenz setzen */
    border: none;
    width: fit-content;
}

.close-button::before {
    font-family: SAP-icons;
    font-size: 100%;
    content: "\e03e";  
}


#purchase ul { 
    list-style-type: none; 
} 

#purchase ul li::before { 
    font-family: SAP-icons; 
    font-size: 60%; 
    content: "\e1bb"; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
    color: #0A6ED1;
}

/* Design of Detail-Body */
.details {
    background-color: #E0E3E4;
    width: 500%;
}

.detail-content {
    background-color: #E0E3E4;
    width: 500%;
}

.detail-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.75rem;
}

#productName {
    font-size: x-large;
}

#subInfo {
    font-size: larger;
    color:#8C8F91;
}

#sectionName {
    font-size: larger;
    color:#8C8F91;
}

#informationContainer, #purchase, #qrcode {
    background-color: white;
    overflow: visible;
    border-radius: 5px;
    padding: 1rem;
}

#informationContainer, #purchase {
    border-bottom: 1px solid #ccc;
}

#qrcode {
    margin-bottom: 1.75rem;
}

p {
    margin-bottom: 0!important;
}

#productimg {
    max-height: 100px;
}

.advertisement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.75rem;
}

#qr {
    max-height: 200px;
    margin-right: 2rem;
}

    </style>
</html>
